:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --text-white: #ffffff;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --footer-bcg: #2f303a;
  --accent-color: #2196f3;
}

/* колір основного тексту #757575  */
/* колір заголовків #212121 */
/* білий  #FFFFFF */
/* акцент #2196F3 */
/* колір фону #FFFFFF */
/* додатковий колір фону #F5F4FA */
/* фон футера #2f303a */
/* Roboto 400/500/700/900 головний шрифт */
/* Raleway 700 додатковий шрифт */

body {
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* Видаляємо крапки в списках */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Глобальний сброс */
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--title-color);
}
/* Додатковий клас контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* outline: 2px solid #188ce8; */

/* Розбивка по секціям */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-padding {
  padding-bottom: 0;
}

/* Header */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Логотип */
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-blue {
  color: var(--accent-color);
}
.logo-white {
  color: var(--text-white);
}

/* Навігація по сайту */
.site-nav {
  display: flex;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item {
  color: var(--title-color);
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* Контакти */
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-contact .header-contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact .header-contact-link:hover,
.header-contact .header-contact-link:focus {
  color: var(--accent-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-bcg);
}
.footer-logo {
  display: block;
  margin: 0 0 20px;
  padding: 0;
}
/* .item { 
  margin-bottom: 9px;
 } */

.address-item {
  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact-link {
  display: block;
  margin-top: 9px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contact-link:last-child {
  margin-bottom: 0px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* Webstudio */
/* HERO */

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-bcg);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка */
.service {
  color: var(--text-white);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
.service:hover,
.service:focus {
  background: #188ce8;
}

/* Якості  */

/* .hidden-title { 
  visibility: hidden;
}*/

.qualities {
  display: flex;
}
.quality-item {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-item {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.list-item:last-child {
  margin-right: 0;
}

.quality-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Зайняття */

.activities-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.busyness {
  display: flex;
}
.busyness-item {
  flex-direction: row;
}
.busyness-item + .busyness-item {
  margin-left: 30px;
}
/* Команда */
.team {
  background-color: var(--secondary-bgc);
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}
.people {
  display: flex;
}
.member {
  margin-right: 30px;
}
.name {
  padding: 30px 0;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-item {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.profession {
  margin-top: 10px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* Portfolio */

/* Фільтр кнопок */

.portfolio {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.primary-button {
  display: inline-block;
  border: transparent;
  padding: 6px 22px;
  color: var(--title-color);
  background-color: var(--secondary-bgc);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
}

.primary-button:hover,
.primary-button:focus {
  color: var(--text-white);
  background-color: var(--accent-color);
}

.choise:not(:last-child) {
  margin-right: 8px;
}

/* Список робіт */
.work-title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-item {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-link {
  display: block;
  text-decoration: none;
}

.part {
  padding: 20px 24px;
  background-color: var(--primary-bgc);
  text-align: left;
  border: 1px solid #eeeeee;
}

/* Сітка */
.work {
  display: flex;
  flex-wrap: wrap;
}
.example-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.example-item:nth-child(3n) {
  margin-right: 0;
}
.example-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .portfolio-link:hover, 
.portfolio-link:focus 
  visibility: hidden;
}*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
